.box_links1 {
    position: relative;
    background-color: var(--color-primary80);
    width: 15.6rem;
    height: 100vh;
    border-right: 0.25rem solid var(--color-secondary);
}

.box_links1 ul {
    margin: 0;
    padding: 20px 10px;
    list-style: none;
}

.box_links1 h3 {
    color: var(--color-secondary);
    text-align: center;
    margin-top: 0.25rem;
    font-size: 2rem;
    border-bottom: 0.25rem solid var(--color-secondary);
}

.box_links1 a {
    text-align: center;
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1.5rem;
    border-bottom: 0.15rem solid var(--color-text);
    padding-bottom: 0.2rem;
    display: block;
    margin: 1.25rem 0;
}

